.select-menu {
    width: 70%;
    margin: auto;
    padding: 50px;
}

.button-bar {
    margin-top: 10px;
}

.character-info {
    padding: 20px !important
}

.item:hover {
    background-color: rgb(236, 236, 236);
}

.descriptor {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .select-menu {
        width: 100%
    }
    .character-info {
        margin-top: 30%;
    }
  }

  @media only screen and (max-width: 768px) {
    .select-menu {
        width: 100%;
        padding: 0px;
        font-size: 95%;
    }
  }